Client/WCFClient1/Connected Services/ServiceReference1/SentenceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SentenceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61729/SentenceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61729/SentenceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISentenceService_GetWordCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordCount" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_GetWordCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_IsPalindrom_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPalindrom" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_IsPalindrom_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPalindromResponse" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_getReverseText_InputMessage">
    <wsdl:part name="parameters" element="tns:getReverseText" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_getReverseText_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReverseTextResponse" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_EncodeCaesarCipher_InputMessage">
    <wsdl:part name="parameters" element="tns:EncodeCaesarCipher" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_EncodeCaesarCipher_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncodeCaesarCipherResponse" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_DecodeCaesarCipher_InputMessage">
    <wsdl:part name="parameters" element="tns:DecodeCaesarCipher" />
  </wsdl:message>
  <wsdl:message name="ISentenceService_DecodeCaesarCipher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecodeCaesarCipherResponse" />
  </wsdl:message>
  <wsdl:portType name="ISentenceService">
    <wsdl:operation name="GetWordCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentenceService/GetWordCount" message="tns:ISentenceService_GetWordCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentenceService/GetWordCountResponse" message="tns:ISentenceService_GetWordCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPalindrom">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentenceService/IsPalindrom" message="tns:ISentenceService_IsPalindrom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentenceService/IsPalindromResponse" message="tns:ISentenceService_IsPalindrom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReverseText">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentenceService/getReverseText" message="tns:ISentenceService_getReverseText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentenceService/getReverseTextResponse" message="tns:ISentenceService_getReverseText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncodeCaesarCipher">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentenceService/EncodeCaesarCipher" message="tns:ISentenceService_EncodeCaesarCipher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentenceService/EncodeCaesarCipherResponse" message="tns:ISentenceService_EncodeCaesarCipher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecodeCaesarCipher">
      <wsdl:input wsaw:Action="http://tempuri.org/ISentenceService/DecodeCaesarCipher" message="tns:ISentenceService_DecodeCaesarCipher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISentenceService/DecodeCaesarCipherResponse" message="tns:ISentenceService_DecodeCaesarCipher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISentenceService" type="tns:ISentenceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWordCount">
      <soap:operation soapAction="http://tempuri.org/ISentenceService/GetWordCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPalindrom">
      <soap:operation soapAction="http://tempuri.org/ISentenceService/IsPalindrom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReverseText">
      <soap:operation soapAction="http://tempuri.org/ISentenceService/getReverseText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncodeCaesarCipher">
      <soap:operation soapAction="http://tempuri.org/ISentenceService/EncodeCaesarCipher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecodeCaesarCipher">
      <soap:operation soapAction="http://tempuri.org/ISentenceService/DecodeCaesarCipher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SentenceService">
    <wsdl:port name="BasicHttpBinding_ISentenceService" binding="tns:BasicHttpBinding_ISentenceService">
      <soap:address location="http://localhost:61729/SentenceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>