Client/WCFClient1/Connected Services/ServiceReference1/SentenceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetWordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWordCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPalindrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPalindromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPalindromResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncodeCaesarCipher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncodeCaesarCipherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncodeCaesarCipherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeCaesarCipher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sentence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IV" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeCaesarCipherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecodeCaesarCipherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>